.card-list {
    margin-top: 15px;
    width: 100%;
}

    .card-list:before,
    .card-list:after {
        content: " ";
        display: table;
    }

    .card-list:after {
        clear: both;
    }

.card {
    border: 5px solid #1b2431;
    border-radius: 8px;
    color: white;
    float: left;
    padding: 10px;
    position: relative;
    width: 25%;
}

    .card .glyphicon {
        color: white;
        font-size: 28px;
        opacity: 0.3;
        position: absolute;
        right: 13px;
        top: 13px;
    }

    .card .stat {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 8px;
        margin-top: 25px;
        padding: 10px 10px 0;
        text-transform: uppercase;
    }

    .card .title {
        display: inline-block;
        font-size: 8px;
        padding: 10px 10px 0;
        text-transform: uppercase;
    }

    .card .value {
        font-size: 28px;
        padding: 0 10px;
    }

    .card.blue {
        background-color: #2298F1;
    }

    .card.green {
        background-color: #66B92E;
    }

    .card.orange {
        background-color: #DA932C;
    }

    .card.red {
        background-color: #D65B4A;
    }

.projects {
    background-color: #273142;
    border: 4px solid #1b2431;
    width: 100%;
}

.projects-inner {
    border: 1px solid #313d4f;
    border-radius: 4px;
}

.projects-header {
    color: white;
    padding: 22px;
}

    .projects-header .count,
    .projects-header .title {
        display: inline-block;
    }

    .projects-header .count {
        color: #738297;
    }

    .projects-header .glyphicon {
        cursor: pointer;
        float: right;
        font-size: 16px;
        margin: 5px 0;
    }

    .projects-header .title {
        font-size: 21px;
    }

        .projects-header .title + .count {
            margin-left: 5px;
        }

.projects-table {
    width: 100%;
}

    .projects-table td,
    .projects-table th {
        color: white;
        padding: 10px 22px;
        vertical-align: middle;
    }

        .projects-table td p {
            font-size: 12px;
        }

            .projects-table td p:last-of-type {
                color: #738297;
                font-size: 11px;
            }

    .projects-table th {
        background-color: #313d4f;
    }

    .projects-table tr:not(:last-of-type) {
        border-bottom: 1px solid #313d4f;
    }

    .projects-table .member figure,
    .projects-table .member .member-info {
        display: inline-block;
        vertical-align: top;
    }

        .projects-table .member figure + .member-info {
            margin-left: 7px;
        }

    .projects-table .member img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
    }

    .projects-table .status > form {
        float: right;
    }

    .projects-table .status-text {
        display: inline-block;
        font-size: 12px;
        margin: 11px 0;
        padding-left: 20px;
        position: relative;
    }

        .projects-table .status-text:before {
            border: 3px solid;
            border-radius: 50%;
            content: "";
            height: 14px;
            left: 0;
            position: absolute;
            top: 1px;
            width: 14px;
        }

        .projects-table .status-text.status-blue:before {
            border-color: #1C93ED;
        }

        .projects-table .status-text.status-green:before {
            border-color: #66B92E;
        }

        .projects-table .status-text.status-orange:before {
            border-color: #DA932C;
        }

        .projects-table .status-text.status-red:before {
            border-color: #D65B4A;
        }

.selectric {
    background-color: transparent;
    border-color: #313d4f;
    border-radius: 4px;
}

    .selectric .label {
        color: #738297;
        line-height: 34px;
        margin-right: 10px;
        text-align: left;
    }

.selectric-wrapper {
    float: right;
    width: 150px;
}

.danger-item {
    border-left: 4px solid #A84D43;
}

.danger-text {
    color: #A84D43 !important;
}

body {
    background-color: #1b2431;
    color: #202020;
    font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
    font-size: 13px;
}

p,
figure,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 960px;
    width: 100%;
}
